.heroesContainer {
    margin: 0;
    background-color: black;

    header {
        background-color: white;
        a {
            color: black;
        }
    }

    .form {
        border: solid;
        border-color: white;
    }
}
