.heroesContainer {
    margin: 0;
    background-color: $black;
    height: auto;
    font-family: 'Lato';
    margin-top: 50px;
    
    header {
        background-color: white;
        height: 40px;
        a {
            font-size: 23px;
            color: black;
        }
    }
    .backgroundContainer{
        .background{
            position: absolute;
            opacity: 0.2;
        }
        .background1{
            right: -150px;
            top:300px;
            img{
                height:814px;
            }
            
        }
        .background2{
            left: -752px;
            top:1400px;
            img{
                height:440px;
                transform: rotate(90deg)
            }
            
        }
        .background3{
            right: -300px;
            top:2000px;
            img{
                height:969px;
            }
            
        }
        
    }

    form {
        margin-top: 80px;
        input,select{
            height:20px;
        }
        .form-1 {
            border: solid;
            border-color: white;
            margin-top: 40px;
            background-color: white;
            transform: skewX(-30deg);

            input {
                color: black;
                transform: skewX(30deg);
                
            }


        }
        .form-2 {
            border: solid;
            border-color: red;
            background-color: red;
            margin-top: 40px;
            transform: skewX(-30deg);
            input {
                transform: skewX(30deg);
            }
            select {
                transform: skewX(30deg);
            }
            i{
                transform: skewX(30deg);
            }
        }
    }

    .nameBar{
        position: absolute;
        left: 0;
        width: 80px;
        height: 2px;
        top: 255px;
        background: white;
    }
    h4 {
        font-weight: 600;
        font-size: 30px;
    }
    article {
        padding: 0;
        color: white;
        
        .heroName {
            margin-top: 80px;
            padding: 0;
            font-weight: bold;
            font-size: 50px;
        }
        .heroUnderName {
            margin-top: 0;
            margin-left: 30px;
            padding: 0;
            font-weight: 200;
            font-size: 26px;
        }
        .infoContainer {
            
            margin-top: 30px;
            height:2000px;
            .pictureContainer {
                position: relative;
                .animRound {
                    height: 200px;
                    width: 200px;
                    position: absolute;
                    top: 20px;
                    left: -20px;
                    .circle {
                        position: absolute;
                        border-radius: 50%;
                        border: 1px solid $marvel;
                        will-change: transform;
                    }
                    .circle1 {
                        top: calc(50% - 120px);
                        left: calc(50% - 120px);
                        width: 240px;
                        height: 240px;
                        border-width: 2px;
                        border-bottom-color: transparent;
                        border-right-color: transparent;
                        border-left-color: transparent;
                        animation: rotation 1.75s linear infinite;
                    }
                    .circle2 {
                        top: calc(50% - 96px);
                        left: calc(50% - 96px);
                        width: 192px;
                        height: 192px;
                        border-width: 2px;
                        border-top-color: transparent;
                        border-right-color: transparent;
                        border-left-color: transparent;
                        animation: rotation 1s linear infinite reverse;
                    }
                }
                .heroPictures {
                    margin-top: 40px;
                    padding: 0;
                    width: 160px;
                    height: 160px;
                    border-radius: 100%;
                    background-color: white;
                }
            }
            .descriBack {
                height: 300px;
                .description {
                    margin-top: 30px;
                    margin-bottom: 40px;
                    padding: 0; // font-weight: 600;
                    // font-size: 30px;
                }
                .descriptonText {
                    padding: 0;
                    font-weight: 300;
                    font-size: 18px;
                }
            }
            .caracBack {
                // border-left: solid 0.5px white;
                // border-right: solid 0.5px white;
                padding: 0px 35px;
                margin-top: 60px;
                margin-bottom: 30px;
                .carac {
                    display: block;
                    margin-bottom: 20px;
                    display: inline-block;
                    width: 100%;
                    span {
                        padding: 0;
                    }
                    .titleCarac {
                        display: inline-block;
                        font-weight: 200;
                    }
                    .contentCarac {
                        font-weight: 600;
                    }

                    .powers {
                        display: flex;
                        flex-direction: column;
                        flex-wrap:wrap;
                        align-content: space-between;
                        height: 200px;
                    }
                }
            }
            .appearanceBack {
                height: 900px;
                h4 {
                    margin-top: 40px;
                    padding: 0; // font-weight: 300;
                    // font-size: 30px;
                }
                .timelineContainer {
                    position: relative;
                    height: 330px;
                    padding-top: 200px;
                    .arrowContainer {
                        .arrowBar {
                            width: 1157px;
                            height: 2px;
                            background: white;
                            position: absolute;
                            left: -240px;
                            bottom: 0;
                        }
                    }
                    .appearLegend {
                        position: absolute;
                        min-height: 120px;
                        span {
                            font-weight: 300;
                            font-size: 15px;
                        }
                        h5 {
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 24px;
                            width: 300px;
                        }
                        .triangleTimeline {
                            display: inline-block;
                            height: 0;
                            width: 0;
                            bottom: -25px;
                            position: absolute;
                            border-top: 17px solid white;
                            border-right: 10px solid transparent;
                            border-left: 10px solid transparent;
                        }
                    }
                    .comicAppear {
                        left: 0;
                    }
                    .movieAppear {
                        right: 0;
                    }
                    .dateAppear {
                        font-weight: bold;
                        font-size: 64px;
                        bottom: -35px;
                        bottom: -155px;
                    }
                    .dateL {
                        right: -40px;
                    }
                    .posterContainer {
                        height: 200px;
                        .posterCard {
                            // border: solid 1px white;
                            height: 300px;
                            width: 190px;
                            display: inline-block;
                            position: absolute;
                            bottom: -400px;
                            img {
                                width: 190px;
                                height: 290px;
                            }
                        }
                        .cardLeft {
                            right: -70px;
                        }
                    }
                }
            }
            .totalBack {
                height: 100px;
                h4 {
                    // font-weight: 300;
                    // font-size: 30px;
                    text-transform: uppercase;
                }
                .ratingContainer {
                    height: 600px;
                    .rating {
                        margin-bottom: 50px;
                        margin-top: 200px;
                        position: relative;
                        .lacet {
                            margin: -10px 0px 0px 220px;
                            background-color: white;
                            width: 65%;
                            height: 1px;
                            animation: lacetRize 0.8s ease-out;
                            transform-origin: 0% 50%;
                            @keyframes lacetRize {
                                0% {
                                    transform: scale(0, 0);
                                }
                                100% {
                                    transform: scale(1, 1);
                                }
                            }
                        }
                        .l2 {
                            width: 40%;
                        }
                        .bubble {
                            width: 190px;
                            height: 190px;
                            border: solid;
                            border: none;
                            border-radius: 100%;
                            background-color: #9F1319;
                            margin-top: -50px;
                            transform-origin: 50% 50%;
                            animation-fill-mode: forwards;
                            position: absolute;
                            right: 0;
                            top: -30px;
                            text-align: center;
                            vertical-align: baseline;
                            opacity: 1;
                            animation: ballFollow 0.8s ease-out;
                            @keyframes ballFollow {
                                from {
                                    transform: translateX(-400px);
                                }
                                to {
                                    transform: translateX(0);
                                }
                            }
                            div {
                                height: 100%;
                                width: 100%;
                                padding: 40px;
                                font-weight: bold;
                                font-size: 60px;
                                padding-top: 50px;
                            }
                        }
                        .b2 {
                            width: 77px;
                            height: 77px;
                            left: 0;
                            top: 22px;
                            div {
                                font-size: 30px;
                                padding: 10px;
                                font-weight: bold;
                                padding-top: 15px;
                            }
                        }
                    }
                    .r2 {
                        margin-top: 200px;
                    }
                }
            }
        }
        
    }


    .relationBack {
        height: 500px;
        width: 100%;
        margin-top: 300px;
        .diagramContainer {
            position: relative;
            height: 100%;
            text-align: center;
            .portrait {
                border-radius: 100%;
                background-color: white;
                position: absolute;
                // img{
                 
                    // overflow: hidden;
                // }
            }

            .sidePortrait {
                width: 86px;
                height: 86px;
            }
            .mainPortrait {
                width: 160px;
                height: 160px;
                left: calc(50% - 80px);
                top: calc(50% - 80px);
            }
            
            h5 {
                font-weight: bold;
                font-size: 25px;
                position: absolute;
                top: -100px;
                left: calc(50% - 40px)
            }
            .alliesPortraitContainer {
                width: 33%;
                height: 100%;
                position: absolute;
                .alliesPortrait1 {
                    top: 0;
                    right: 10%;
                    animation: relationsMove1 12s infinite ease-in-out forwards;
                }
                .alliesPortrait2 {
                    top: 25%;
                    left: 15%;
                    animation: relationsMove2 10s infinite ease-in-out forwards;
                }
                .alliesPortrait3 {
                    top: 50%;
                    right: 15%;
                    animation: relationsMove3 9s infinite ease-in-out forwards;
                }
                .alliesPortrait4 {
                    top: 75%;
                    left: 20%;
                    animation: relationsMove4 10s infinite ease-in-out forwards;
                }
            }
            .vilainsPortraitContainer {
                width: 33%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                div {
                    right: 0;
                }
                .vilainsPortrait1 {
                    top: 0;
                    left: 10%;
                    animation: relationsMove4 12s infinite ease-in-out forwards;
                }
                .vilainsPortrait2 {
                    top: 25%;
                    left: 38%;
                    animation: relationsMove3 8s infinite ease-in-out forwards;
                }
                .vilainsPortrait3 {
                    top: 50%;
                    right: 16%;
                    animation: relationsMove2 7s infinite ease-in-out forwards;
                }
                .vilainsPortrait4 {
                    top: 75%;
                    left: 16%;
                    animation: relationsMove1 10s infinite ease-in-out forwards;
                }
            }
        }
    }
    .backPhotoContainer {
        position: absolute;
        width: 100vw;
        z-index: -1;
        height: 100vh;
        background: url("../img/avengersMarvel.png")
    }
}

.loaderContainer {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    top: 0;
    background: rgba($color: #000000, $alpha: 0.8);
    display: none;
    .loaderZone {
        height: 400px;
        width: 400px;
        position: absolute;
        top: calc(50% - 200px);
        text-align: center;
        left: calc(50% - 200px);
        .avg {
            position: absolute;
            left: -10px;
            top: 60px;
            transform: scale(1.5)
        }
        .roll {
            animation: loaderRoll 10s linear infinite;
            position: absolute;
            top: 30px;
            left: calc(50% - 77px);
            top: calc(50% - 77px)
        }
    }
}