.homeContainer{
    .landingContainer{
        height: 100vh;
        overflow: hidden;
        width: 100%;
        background-image:url("../img/poster.png");
        background-repeat: no-repeat;
        background-size: 100%;
        .introLaunding{
            text-transform: uppercase;
            color: white;
            width: 700px;
            margin-left: calc(50% - 350px);
            text-align: center;
            font-weight:bolder;
            padding-top: 305px;
            h1{
                font-size: 50px;
                // letter-spacing: 7.6px;
                
            }
            
        }
        .discoverLaunding{
            width: 152px;
            text-align: center;
            color: white;
            position: absolute;
            bottom: 20px;
            left:calc(50% - 76px);
            span{
                text-transform: uppercase;
                font-size: 15px;
                letter-spacing: 11px;
                font-weight: bolder;
                
            }
        }
    }
    .gauntletContainer{
        height:630px;
        background: black;
        .gauntletIntro{
            width: 66.66%;
            padding-left: 33.33%;
            padding-top: 90px;  
            margin: 0;
            h2{
                text-transform: uppercase;
                width: 600px;
            }
            p{
                width: 725px;
                height: 130px;
                color: white;
                padding-top : 46px;
                font-size:18px;
                padding-left:130px;
                text-align: left;
            }
        }
    }
    .wheelContainer{
        height:930px;
        background: black;
        .sideWheel{
            
        }
        .midWheel{
            position: relative;
            .infoCadre{
                font-size:25px;
                width:400px;
                position: relative;
                p{
                    display: inline-block;
                    width: 300px;
                    color:white;
                    font-weight: 100;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-family: "Calibri";
                    padding:0px 30px;
                    will-change: opacity;
                    opacity: 0;                }
                .linkR{
                    width: 161px;
                    height:2.5px;
                    background-color: $marvel;
                    opacity:0;
                    position: absolute;
                    transform-origin: 100%;
                    will-change: transform,opacity;

                }
                .linkRFlat{
                    top:calc(40% - 1px);
                    left:calc(80% - 50px);
                }
                .linkRFlat2{
                    top:calc(40% - 1px);
                    left:-35%;     
                    transform-origin:0; 
                }


            }
            .infoCadre1{
                top:100px;
                left:181px;
            }
            .infoCadre2{
                top:503px;
                left:-293px;
            }
        }
        .animcard2{
            height: 400px;
            width: 400px;
            position: absolute;
            top:50px; 
            left:calc(50% - 200px);
            background-image: url('../img/marvelLogo.png');
            background-size: 300px;
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-Y: 80px;
        
            .animToreBar{
                width: 100%;
                height: 100%;
                .contBar{
                    position: absolute;
                    left:50%;
                    top:150px;
                }
                .bar{
                    background: white;
                    position: absolute;
                    will-change: transform;
                    width:2px;
                    height:40px;
                    transform-origin: 0;
                    
                }
                
                
    
            }
        }
    }
}