.heroesContainer {
    margin: 0;
    background-color: black;
    height: 3200px;
    font-family: 'Lato'; 
    position: relative;
    h1{
        font-weight: Bold;
    }

    .tab{
        margin-top:200px;
        padding: 0px;
        table {
            padding-top: 100px;
            padding: 0px;
            tr {
                display: block;
                margin-top: 0px;
                padding: 0px;



                th {
                    padding-right: 40px;
                    font-size: 20px;
                    font-weight: bold;

                    .heroesPictures {
                        padding-top: 10px;
                        padding-left: 40px;
                        width: 100px;
                        height: 100px;
                        background-color: white;
                        border-radius: 50px;
                    }
                    .heroesPicturesOpacity {
                        width: 100px;
                        height: 100px;
                        background-color: white;
                        opacity: 0;
                        padding-left: 0px;

                    }
                }

                .thImage{
                    
                }
                .thTitle{
                    
                    width:200px;
                    font-weight: Bold;
                    
                }
            }
            .on {
                
                th{
                    margin-top:200px;
                }
            }
            .under {
                padding-left: 0px;
                display: inline-block;
                margin-bottom: 80px;
                border-bottom: solid 1px;
                border-color: white;
                padding-bottom: 20px;
                padding-top:-200px;
                width: 100%;
                th{
                    vertical-align: middle;
                    font-weight: bold;
                }
            }
        }
    }
    .filterPanel{
        img{
            display: block;
            height:100px;
            position: fixed;
            top:150px;
        }
        .filterBack{
            position: fixed;
            width:330px;
            height: 188px;
            background:#282828;
            top:300px;
            font-weight: bold;
            .filterContent{
                width:calc(100% - 80px );
                padding:0px 40px;
                font-weight: bold;
                font-size: 18px;
                h5{
                    font-size: 18px;
                    margin-bottom:20px;
                }
                span{
                    width: 100%;
                    display: block;
                    padding-top:8px;
                    .filterCircle{
                        width:12px;
                        height:12px;
                        background: $white;
                        border-radius: 100%;
                        display: inline-block;
                        margin-right: 20px;
                    }
                }

            }
            

        }
    }



}
