@import 'variables';
@import 'anim';
@import 'home';
@import 'heroes';
@import '404';
@import 'header';
@import 'listHeroes';
@import 'movie';

body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
    font-family: 'Lato';
    color: $white;
    background: $black;
    h2 {
        font-weight: bolder;
        font-size: 30px;
        color: $white;
    }

    .grdUnder{
        width:0px;
        margin-top: 10px;
        height:3px;
        background:linear-gradient(to right,#800000,#490202);
    }
    background-color: $black
}


